[Unit]
Description=InfluxDB 2 time-series database
Documentation=https://docs.influxdata.com/influxdb/v2/
Wants=network-online.target
After=network-online.target

[Service]
User=influxdb
Group=influxdb
Type=simple
ExecStart=/usr/local/bin/influxd \
  --bolt-path=/var/lib/influxdb/influxd.bolt \
  --engine-path=/var/lib/influxdb/engine \
  --http-bind-address=0.0.0.0:8086
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
